:root {
    font-family: sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.25rem;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.8);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --text-color: rgba(255, 255, 255, 0.8);
    --background-color: #242424;

    --small_gap: 0.5rem;
    --gap: 1rem;
    --medium_gap: 1.5rem;
    --large_gap: 2rem;
    --xlarge_gap: 3rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 1px solid red;
    outline-offset: -1px;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

body {
    margin: 0;
    margin-block: 3rem;
    min-width: 320px;
    text-align: center;
}

#root {
}

.hoverable {
    transition: all 0.2s ease-in-out;
}

.undecorated {
    text-decoration: none;
    color: var(--text-color);
}

.hoverable:hover {
    transform: scale(1.05);
}

.Navbar {
    position: fixed;
    height: 3rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap);
    padding-inline: var(--small_gap);
    background-color: var(--background-color);
}

.Navbar > * {
    flex: 1;
}

.Nav_Logo_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--small_gap);
}

.Nav_Logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Navbar_Logo_Vector {
    width: 2rem;
    height: 2rem;
}

.Navbar_Logo_Path {
    fill: var(--text-color);
}

.Nav_Logotype {
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: clamp(1rem, 2vw, 1.5rem);
}

.Nav_Links_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small_gap);
}

.Nav_Link {
    font-size: clamp(0.75rem, 1vw, 1rem);
}

.Nav_Link_Active {
    transform: scale(1.1);
    color: green;
}

.Nav_Utility {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: var(--small_gap);
}

.Nav_Tools_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--small_gap);
}

.Nav_Tool {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Nav_Menu_Btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Nav_Menu_Btn_Active {
    transform: scale(1.1);
    color: green;
}

.Nav_Menu_Btn > * {
    font-size: 2rem;
}

.Footer {
    z-index: 100;
    height: 3rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--small_gap);
    background-color: var(--background-color);
}

.Footer > * {
    flex: 1;
}

.Footer_Actions_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: var(--small_gap);
}

.Footer_Action {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--small_gap);
}

.Footer_Action_Title {
    display: none;
}

.Footer_Copyright {
    font-size: clamp(0.75rem, 1vw, 1rem);
}

.Footer_SocialMedia_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: var(--small_gap);
}

.SocialMedia_Icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.SocialMedia_Icon svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--text-color);
}

.Section_Observer {
    z-index: 101;
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 6rem);
    outline: 2px solid blue;
    pointer-events: none;
}

.Search_Container {
    z-index: 99;
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    padding: var(--gap);
    backdrop-filter: blur(10px);
}

.Search_Bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    padding: var(--gap);
}

.Search_Bar_Input {
    padding: var(--small_gap);
}

.Section_Divider {
    width: 100%;
    height: 25vh;
    background-color: red;
}

.LP_Section {
    scroll-snap-align: start;
    scroll-margin: 3rem;
    position: relative;
    height: calc(100vh - 6rem);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap);
    padding-block: var(--gap);
    padding-inline: var(--small_gap);

    overflow-y: auto;
    overflow-x: hidden;
}

.LP_Section_Title {
    position: absolute;
    top: var(--gap);
    left: var(--small_gap);
}

.Products_Container,
.Solutions_Container,
.Abouts_Container,
.Menu_Container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: end;
    gap: var(--gap);
    padding: var(--gap);
    padding-inline: 0;
    overflow-x: auto;
}

.Products_Selector,
.Solutions_Selector,
.Abouts_Selector {
    max-width: calc(100% - 0.125rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap);
    padding: var(--gap);
    margin-inline: auto;
    overflow-x: auto;
}

.Product_Type_Selector,
.Solution_Type_Selector,
.About_Type_Selector {
    width: 25vw;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--gap);
    cursor: pointer;
}

.Product_Card,
.Solution_Card,
.About_Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    padding: var(--gap);
    border-radius: var(--gap);
}

.Product_Card {
    width: 33vw;
    min-width: 345px;
    max-width: 800px;
    height: calc(100% - 2rem);
}

.Solution_Card,
.About_Card {
    width: 100%;
    height: 100%;
    flex: 1;
}

.Close_Btn {
    z-index: 99;
    position: absolute;
    top: var(--gap);
    right: var(--gap);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Search_Btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: var(--small_gap);
    border-radius: 50%;
}

.Menu_GoUp_Btn {
    position: absolute;
    top: var(--gap);
    right: var(--small_gap);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: var(--small_gap);
    border-radius: 50%;
}

.progress-bar {
    z-index: 98;
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: hotpink;
    transform-origin: 0%;
    outline: none;
}

.Mobile_Only {
    display: none;
}
.Desktop_Only {
    display: flex;
}

/* SEÇÃO DE INICIO - SEÇÃO DE INICIO - SEÇÃO DE INICIO - SEÇÃO DE INICIO */

.auto_slider_card_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    width: 100%;
    overflow-x: hidden;
}

.auto_slider_card {
    height: 20vh;
    width: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--text-color);
    flex-shrink: 0;
}

@media screen and (max-width: 700px) {
    .Mobile_Only {
        display: flex;
    }
    .Desktop_Only {
        display: none;
    }

    .Nav_Links_Container {
        overflow: hidden;
        flex: 2;
    }

    .Nav_Link {
        font-size: 0.95rem;
    }

    .Footer_Copyright {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .Nav_Logotype {
        display: none;
    }
}
