:root {
    font-family: sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.8);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --text-color: rgba(255, 255, 255, 0.8);

    --small_gap: 0.5rem;
    --gap: 1rem;
    --medium_gap: 1.5rem;
    --large_gap: 2rem;
    --xlarge_gap: 3rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 1px solid red;
    outline-offset: -1px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
    text-align: center;
}

#root {
}

.hoverable {
    transition: all 0.2s ease-in-out;
}

.undecorated {
    text-decoration: none;
    color: var(--text-color);
}

.hoverable:hover {
    transform: scale(1.05);
}

.Navbar {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap);
    padding-inline: var(--small_gap);
}

.Navbar > * {
    flex: 1;
}

.Nav_Logo_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--small_gap);
}

.Nav_Logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Navbar_Logo_Vector {
    width: 2rem;
    height: 2rem;
}

.Navbar_Logo_Path {
    fill: var(--text-color);
}

.Nav_Links_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small_gap);
}

.Nav_Utility {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: var(--small_gap);
}

.Nav_Tools_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--small_gap);
}

.Nav_Tool {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Nav_Menu_Btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Footer > * {
    flex: 1;
}

.Footer_Actions_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small_gap);
}

.Footer_Action {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--small_gap);
}

.Footer_Action_Title {
    display: none;
}

.Footer_SocialMedia_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small_gap);
}

.SocialMedia_Icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.SocialMedia_Icon svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--text-color);
}

.Products_Container,
.Solutions_Container,
.Abouts_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    padding: var(--gap);
}
