/* IMPORTAÇÕES */

/* Researcher 300 */
@font-face {
    font-family: "Researcher_WOFF2";
    src: url("./assets/fonts/Researcher_Thin_WOFF2.woff2") format("woff2");
    /* Add additional src lines for different font file formats if necessary */
    font-weight: 300;
    font-style: normal;
}

/* Researcher 400 */
@font-face {
    font-family: "Researcher_WOFF2";
    src: url("./assets/fonts/Researcher_Regular_WOFF2.woff2") format("woff2");
    /* Add additional src lines for different font file formats if necessary */
    font-weight: 400;
    font-style: normal;
}

/* Researcher 600 */
@font-face {
    font-family: "Researcher_WOFF2";
    src: url("./assets/fonts/Researcher_Bold_WOFF2.woff2") format("woff2");
    /* Add additional src lines for different font file formats if necessary */
    font-weight: 600;
    font-style: normal;
}

/* Roboto Mono Variable Font */
@font-face {
    font-family: "Roboto_Mono";
    src: url("./assets/fonts/RobotoMono-VariableFont.ttf");
}

/* Roboto Mono Italic Variable Font */
@font-face {
    font-family: "Roboto_Mono_Italic";
    src: url("./assets/fonts/RobotoMono-Italic-VariableFont.ttf");
}

/* CONFIGURAÇÕES GERAIS - VARIÁVEIS - A RAIZ DO PROJETO */

:root {
    font-family: "Roboto_Mono";
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.25rem;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --legacy_text-color: rgba(255, 255, 255, 0.8);
    --legacy_faded_text-color: rgba(255, 255, 255, 0.2);
    --legacy_background-color: #242424;
    --legacy_faded_background-color: rgba(60, 60, 60, 0.5);
    --legacy_btn_color: #6b6b6b;
    --legacy_card_color: #3c3c3c;
    --legacy_subcard_color: #4c4c4c;
    --legacy_seleted-color: #008000;

    --FederalBlue: #000343;
    --FederalBlueFaded: #00034380;
    --Ultramarine: #1d0289;
    --UltramarineFaded: #1d028980;
    --DeepBlue: #4400ff;
    --DeepBlueFaded: #4400ff80;
    --PictonBlue: #00aaff;
    --PictonBlueFaded: #00aaff80;
    --LavenderBlush: #eee5e9;
    --LavenderBlushFaded: #eee5e980;
    --LavenderBlushFaded2: #eee5e940;
    --LavenderBlushEvenMoreFaded: #eee5e910;

    --newcardcolor: #404ab6;
    --newcardcolorfaded: #404ab680;
    --newcardcolorfaded2: #1a206480;
    --newcardcolorfaded3: #404ab610;

    --RoseQuartz: #9a8c98;
    --RoseQuartzFaded: #9a8c9880;

    --ElectricViolet: #8e00ff;
    --ElectricVioletFaded: #8e00ff80;

    --text-color: rgba(255, 255, 255, 0.8);
    --faded_text-color: rgba(255, 255, 255, 0.5);
    --evenmore-faded-text-color: var(--LavenderBlushEvenMoreFaded);
    --background-color-solid: var(--FederalBlue);
    --background-color: var(--FederalBlueFaded);
    --faded_background-color: var(--FederalBlueFaded);
    --btn_color: var(--text-color);
    --card_color: var(--newcardcolorfaded);
    --subcard_color: var(--newcardcolorfaded2);
    --seleted-color: var(--PictonBlue);
    --faded_selected-color: var(--PictonBlueFaded);
    --evenmore-faded-selected-color: #00aaff33;

    --faded-black: var(--UltramarineFaded);

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.8);
    background-color: var(--background-color);

    --small_gap: 0.5rem;
    --gap: 1rem;
    --medium_gap: 1.5rem;
    --large_gap: 2rem;
    --xlarge_gap: 3rem;

    --auto_slider_card_width: 25vh;
    --bloposts_ammount: 17;
    --partners_ammount: 12;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--evenmore-faded-text-color);
    border-radius: var(--gap);
}

::-webkit-scrollbar-thumb {
    background-color: var(--faded_text-color);
    border-radius: var(--gap);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

.undecorated {
    text-decoration: none;
    color: var(--text-color);
}

.bold_text {
    font-weight: 900;
}

.light_text {
    font-weight: 200;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    background-color: var(--background-color-solid);
}

html::-webkit-scrollbar {
}

body {
    margin: 0;
    margin-block: 3rem;
    min-width: 320px;
    text-align: center;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, var(--FederalBlue) 0%, var(--Ultramarine) 33%, var(--DeepBlue) 100%);
}

.Body_Active {
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

button {
    font-family: "Roboto_Mono";
    background-color: var(--text-color);
    color: var(--background-color);
}

.Btn_Class {
    background-color: var(--btn_color);
}

.hoverable {
    transition: all 0.2s ease-in-out;
}

.hoverable:hover,
.hoverable:focus,
.hoverable:focus-within {
    transform: scale(1.05);
}

.small_hoverable {
    transition: all 0.2s ease-in-out;
}

.small_hoverable:hover,
.small_hoverable:focus,
.small_hoverable:focus-within {
    transform: scale(1.01);
}

/* ANIMATIONS - ANIMATIONS - ANIMATIONS - ANIMATIONS */

@keyframes rotateZ {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes scrollLeft_Experiencias {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(var(--auto_slider_card_width) * var(--bloposts_ammount) * 1));
    }
}

@keyframes scrollRight_Parceiros {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(var(--auto_slider_card_width) * var(--partners_ammount) * -1));
    }
}

/* MODALS - MODALS - MODALS - MODALS - MODALS */

.Cookies_Banner {
    z-index: 1000;
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100vw;
    height: calc(100vh - 6rem);
    height: calc(100svh - 6rem);
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.Cookies_Banner_Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--gap);
    border-radius: var(--gap);
    gap: var(--gap);
    background-color: var(--card_color);
}

.Cookies_Banner_Icon {
    font-size: 15rem;
    animation: rotateZ 10s linear infinite;
}

.Cookies_Banner_Text {
    max-width: 30rem;
}

.Cookies_Banner_Btn {
    padding: var(--small_gap);
    padding-inline: var(--gap);
    border-radius: var(--gap);
    cursor: pointer;
}

/* MAIN UI - MAIN UI - MAIN UI - MAIN UI - MAIN UI */

.Loading_Screen {
    top: 0;
    left: 0;
    z-index: 1000;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    height: 100svh;
    background-color: var(--background-color-solid);
    opacity: 1;
}

.Loading_Screen > .Loading_Screen_Logo > .Nav_Logo > .Navbar_Logo_Vector {
    width: 10rem;
    height: 10rem;
}

.Navbar {
    position: fixed;
    height: 3rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap);
    padding-inline: var(--small_gap);
    background-color: var(--background-color);
}

.Navbar > * {
    flex: 1;
}

.Nav_Logo_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--small_gap);
}

.Nav_Logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.human > *,
.robotics > * {
    height: clamp(0.5rem, 1vw, 0.6rem);
    width: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Navbar_Logo_Vector {
    width: 2rem;
    height: 2rem;
}

.Navbar_Logo_Path {
    fill: var(--text-color);
}

.Nav_Logotype {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-family: "Researcher_WOFF2";
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    gap: var(--small_gap);
}

.Nav_Links_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
}

.Nav_Link {
    font-size: clamp(0.75rem, 1vw, 1rem);
    position: relative;
    font-weight: 300;
}

.Nav_Link::before {
    content: "";
    position: absolute;
    display: block;
    height: 0.25rem;
    width: 0;
    background-color: var(--seleted-color);
    transition: width 0.2s ease-in-out;
    bottom: -0.25rem;
}

.Nav_Link_Active {
    transform: scale(1.1);
    color: var(--seleted-color);
}

.Nav_Link_Active::before {
    width: 100%;
}

.Nav_Utility {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: var(--small_gap);
}

.Nav_Tools_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--small_gap);
}

.Nav_Tool {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Nav_Menu_Btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Nav_Menu_Btn_Active {
    transform: scale(1.1);
    color: var(--seleted-color);
}

.Nav_Menu_Btn > * {
    font-size: 2rem;
}

.Footer {
    z-index: 100;
    height: 3rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--small_gap);
    background-color: var(--background-color);
}

.Footer > * {
    flex: 1;
}

.Footer_Actions_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: var(--small_gap);
}

.Footer_Action {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--small_gap);
}

.Footer_Action_Title {
    display: none;
}

.Footer_Copyright {
    font-size: clamp(0.75rem, 1vw, 1rem);
}

.Footer_SocialMedia_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: var(--small_gap);
}

.SocialMedia_Icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.SocialMedia_Icon svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--text-color);
}

.Section_Observer {
    z-index: 101;
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 6rem);
    pointer-events: none;
}

.Search_Container {
    z-index: 99;
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 6rem);
    height: calc(100svh - 6rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    padding: var(--gap);
    backdrop-filter: blur(10px);
}

.Search_Bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    padding: var(--gap);
    border-radius: var(--gap);
    background-color: var(--card_color);
}

.Search_Bar_Input {
    padding: var(--small_gap);
    border-radius: var(--small_gap);
    outline: 1px solid var(--text-color);
}

.Search_Results_Container {
    display: flex;
    flex-direction: column;
    padding: var(--gap);
    border-radius: var(--gap);
    gap: var(--gap);
    width: 30rem;
    height: 80%;
    background-color: var(--card_color);
    position: relative;
}

.Search_Results_Title {
    text-align: start;
}

.Search_Results_List {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    overflow-y: auto;
    padding: var(--small_gap);
}

.Search_Result_Class {
    padding: var(--gap);
    display: flex;
    flex-direction: column;
    gap: var(--small_gap);
}

.Search_Result_Item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--small_gap);
    max-width: 30rem;
    text-align: start;
    cursor: pointer;
    gap: var(--small_gap);
}

.Section_Divider {
    width: 100%;
    background-color: var(--card_color);
    background-image: linear-gradient(transparent, var(--card_color));
    background: repeating-linear-gradient(
        90deg,
        var(--evenmore-faded-selected-color),
        var(--evenmore-faded-selected-color) 1px,
        transparent 2px,
        transparent calc(100vw / 100 + 2px),
        var(--evenmore-faded-selected-color) calc(100vw / 100 + 3px)
    );
    margin-block: 3rem;
    text-transform: uppercase;
}

.Section_Divider_With_Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Section_Divider_Text {
    font-size: clamp(2rem, 10vw, 8rem);
    outline: none;
    font-family: "Researcher_WOFF2";
    color: var(--PictonBlue);
    width: 100%;
    text-shadow: 0 0 10px var(--PictonBlueFaded);
}

.LP_Section {
    scroll-snap-align: start;
    scroll-margin: 3rem;
    position: relative;
    height: calc(100vh - 6rem);
    height: calc(100svh - 6rem);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap);
    padding-block: var(--gap);
    padding-inline: var(--small_gap);

    overflow-y: auto;
    overflow-x: hidden;
}

.LP_Section_Title {
    position: absolute;
    top: var(--gap);
    left: var(--small_gap);
}

.Products_Container,
.Solutions_Container,
.Abouts_Container,
.Menu_Container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: end;
    gap: var(--gap);
    padding: var(--gap);
    overflow-x: auto;
}

.Menu_Container {
    gap: 0;
}

.Abouts_Container {
    padding: 0;
    overflow-x: hidden;
}

.Products_Selector,
.Solutions_Selector,
.Abouts_Selector {
    max-width: calc(100% - 0.125rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap);
    padding-block: var(--small_gap);
    padding-inline: var(--gap);
    margin-inline: auto;
    overflow-x: auto;
}

.Product_Type_Selector,
.Solution_Type_Selector,
.About_Type_Selector {
    width: 25vw;
    min-width: max-content;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--small_gap);
    padding-inline: var(--gap);
    cursor: pointer;
    font-size: clamp(1rem, 1vw, 1.5rem);
    border-radius: var(--gap);
    font-family: "Roboto_Mono";
}

.Type_Header {
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.Type_Viewer_Title {
    font-family: "Researcher_WOFF2";
}

.Product_Card,
.Solution_Card,
.About_Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: var(--gap);
    padding: var(--gap);
    border-radius: var(--gap);
    position: relative;
    overflow: hidden;
    outline: 1px solid var(--PictonBlue);
    outline-offset: -1px;
}

.Product_Card:hover,
.Product_Card:focus-within > .Product_Bg_Image {
    filter: saturate(1.5);
}

.Product_Card:focus-within > .Product_Card_Body > .Card_Product_Description,
.Product_Card:hover > .Product_Card_Body > .Card_Product_Description {
    pointer-events: all;
    opacity: 1;
}

.Product_Bg_Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.Software_Prename {
    height: 1.5rem;
}

.Product_Card_Body {
    position: absolute;
    bottom: var(--gap);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: var(--small_gap);
    width: 80%;
    max-width: 360px;
    margin-inline: auto;
    z-index: 50;
}

.Product_Card_Body_Background {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70%;
    width: 100%;
    background-image: linear-gradient(transparent, var(--background-color));
}

.Solution_Card,
.About_Card {
    width: 100%;
    height: 100%;
    flex: 1;
}

.Product_Card {
    width: 33vw;
    min-width: 450px;
    max-width: 800px;
    height: 100%;
}

.Solution_Card {
    padding: 0;
    justify-content: end;
}

.About_Card {
    outline: none;
}

.Card_Product_Detail_Button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small_gap);
    padding: var(--gap);
    padding-block: var(--small_gap);
    border-radius: var(--gap);
    cursor: pointer;
}

.Product_Detail_Text_Item_Header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Product_Detail_Subtitle,
.Card_Product_Prename {
    font-family: "Researcher_WOFF2";
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.Product_Card_Detail_Title,
.Card_Product_Name {
    font-family: "Researcher_WOFF2";
    margin-top: -1rem;
    font-size: clamp(3rem, 5vw, 4rem);
    margin-bottom: -0.5rem;
}

.Card_Product_Type {
    font-size: clamp(0.75rem, 1vw, 0.75rem);
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 800;
}

.Card_Product_Description {
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    text-shadow: 0 0 5px var(--PictonBlueFaded);
}

.Solution_Card_Detail_Title {
    font-size: clamp(2rem, 4vw, 8rem);
    margin-bottom: -1rem;
}

.Robot_Card_Main_Image {
    position: absolute;
    top: 2.5rem;
}

.Software_Card {
    position: relative;
    flex-grow: 1;
}
.Software_Card > .Product_Main_Image {
    position: absolute;
    width: 90%;
    max-width: 16rem;
    top: 55%;
    transform: translateY(-50%);
    aspect-ratio: 1/1;
    object-fit: contain;
}

.Solution_KnowMore_Button {
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small_gap);
    padding: var(--gap);
    padding-block: var(--small_gap);
    border-radius: var(--gap);
    cursor: pointer;
    margin-bottom: var(--gap);
}

.Info_Icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--text-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Close_Btn {
    z-index: 99;
    position: absolute;
    top: var(--gap);
    right: var(--gap);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.25rem;
}

.Close_Btn_B,
.Map_Close_Btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.25rem;
}

.Previous_Btn,
.Next_Btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    padding: var(--small_gap);
    border-radius: 50%;
    background-color: var(--background-color);
    transition: all 0.2s ease-in-out;
}

.Previous_Btn:hover,
.Previous_Btn:focus-within,
.Next_Btn:hover,
.Next_Btn:focus-within {
    background-color: var(--seleted-color);
    scale: 1.1;
}

.Previous_Btn {
    bottom: var(--medium_gap);
    left: var(--medium_gap);
}

.Next_Btn {
    bottom: var(--medium_gap);
    right: var(--medium_gap);
}

.Centered_Previous_Btn {
    position: absolute;
    bottom: initial;
    top: 50%;
    left: var(--gap);
    transform: translateY(-50%);
    color: var(--text-color);
}

.Centered_Next_Btn {
    position: absolute;
    bottom: initial;
    top: 50%;
    right: var(--gap);
    transform: translateY(-50%);
    color: var(--text-color);
}

.Search_Btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: var(--small_gap);
    border-radius: 50%;
}

.ScheduleDemo_Btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    padding: var(--small_gap);
    border-radius: var(--gap);
    height: auto;
    flex: 1;
    min-width: 10rem;
    text-align: start;
    font-size: clamp(0.8rem, 1vw, 1.6rem);
    gap: 0.25rem;
    background-color: var(--seleted-color);
    color: var(--text-color);
}

.ScheduleDemo_Btn > .Icon_Container > svg > * {
    fill: var(--text-color) !important;
}

.Icon_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.AddToCart_Btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: var(--small_gap);
    border-radius: var(--gap);
}

.Menu_GoUp_Btn {
    position: absolute;
    top: var(--gap);
    left: var(--small_gap);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: var(--small_gap);
    border-radius: 50%;
    background-color: var(--text-color);
    color: var(--background-color);
}

.progress-bar {
    z-index: 98;
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: var(--seleted-color);
    transform-origin: 0%;
    outline: none;
}

.progress-bar-bg {
    z-index: 97;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    height: 10px;
    background-color: var(--evenmore-faded-text-color);
    transform-origin: 0%;
    outline: none;
}

.selected {
    background-color: var(--seleted-color);
    color: var(--text-color);
    transform: translateY(-0.125rem) !important;
}

.Mobile_Only {
    display: none;
}
.Desktop_Only {
    display: flex;
}

/* SEÇÃO DE INICIO - SEÇÃO DE INICIO - SEÇÃO DE INICIO - SEÇÃO DE INICIO */

#inicio {
    overflow-y: hidden;
}

.Post_Detail_Container,
.Experience_Detail_Container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    z-index: 2;
    padding: var(--gap);
    overflow: hidden;
}

.Post_Detail,
.Experience_Detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    position: relative;
    background-color: var(--card_color);
    padding: var(--gap);
    border-radius: var(--gap);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    max-width: 40rem;
    width: 100%;
    overflow-y: auto;
}

.Post_Detail {
}

.Post_Detail_Image_Block,
.Experience_Detail_Image_Block {
    height: 100%;
    max-height: 400px;
    border-radius: var(--gap);
    object-fit: contain;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Post_Detail_Image_Block > img,
.Experience_Detail_Image_Block > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider_experiencias {
    animation: scrollLeft_Experiencias 90s linear infinite;
    justify-content: end;
}

.slider_parceiros {
    animation: scrollRight_Parceiros 90s linear infinite;
}

.auto_slider_card_container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap);
    width: 100%;
    height: calc(var(--auto_slider_card_width) + 1rem);
    overflow-y: clip;
    overflow-clip-margin: 20px;
    overflow-x: hidden;
}

.auto_slider_experiencias {
    justify-content: end;
}

.auto_slider_track {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: var(--gap);
}

.auto_slider_card {
    height: var(--auto_slider_card_width);
    width: var(--auto_slider_card_width);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
    border-radius: var(--gap);
    overflow: hidden;
}

.carroussel_card_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    padding: var(--gap);
    background-color: var(--text-color);
    color: var(--background-color);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.auto_slider_card:hover .carroussel_card_content {
    opacity: 1;
}

.auto_slider_card_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.auto_slider_card_image_partner {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.Brand_Fixed_Phrase {
    font-size: clamp(1.2rem, 3vw, 6rem);
    font-weight: 300;
    letter-spacing: 0.2rem;
    text-shadow: 0 0 3px var(--text-color);
}

.Brand_Changing_Word {
    font-size: clamp(4rem, 10vw, 14rem);
    line-height: 6.5rem;
    position: relative;
    top: -1.25rem;
    font-family: "Researcher_WOFF2";
    color: var(--PictonBlue);
    text-shadow: 0 0 20px var(--PictonBlueFaded);
}

/* SEÇÃO DE PRODUTO - SEÇÃO DE PRODUTO - SEÇÃO DE PRODUTO - SEÇÃO DE PRODUTO */

.Solution_Detail,
.Product_Detail {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    backdrop-filter: blur(10px);
}

.Product_Detail_Type {
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.Product_Detail_Title_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.Solution_Detail_Title,
.Product_Detail_Title {
    font-size: clamp(0.5rem, 1vw, 0.8rem);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Researcher_WOFF2";
    line-height: clamp(0.5rem, 1vw, 0.8rem);
}

.Solution_Detail_Header,
.Product_Detail_Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
    padding-top: var(--gap);
    padding-inline: var(--gap);
    height: 3rem;
}

.Solution_Detail_Content,
.Product_Detail_Content {
    width: 100%;
    height: calc(100% - 3rem);
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    padding: var(--gap);
}

.Product_Detail_Content_Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
}

.About_Card_Image_Container,
.Solution_Detail_Image_Container,
.Product_Detail_Image_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: var(--gap);
    padding: var(--gap);

    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    border-radius: var(--gap);
    background-color: var(--card_color);
}

.Mobile_Image_Container {
    display: none;
}

.About_Card_Img_Block,
.Solution_Detail_Image_Block,
.Product_Detail_Image_Block {
    scroll-snap-align: start;
    scroll-margin-inline: var(--gap);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
    border-radius: var(--small_gap);
    overflow: hidden;
}

.Product_Detail_Image,
.Solution_Detail_Image,
.About_Card_Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Menu_Options,
.Menu_Main_List,
.About_Card_Text_Container,
.Solution_Detail_Text_Container,
.Product_Detail_Text_Container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-inline: var(--gap);

    width: 100%;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.Menu_Main_List {
    direction: rtl;
}

.Menu_Options_Wrapper,
.Menu_Main_List_Wrapper,
.About_Card_Text_Wrapper,
.Solution_Detail_Text_Wrapper,
.Product_Detail_Text_Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: var(--gap);
    padding: var(--gap);

    background-color: var(--card_color);
    border-radius: var(--gap);
    min-height: 100%;
    flex-shrink: 0;
}

.Menu_Main_List_Wrapper {
    align-items: start;
    direction: ltr;
}

.Product_Detail_Text_Wrapper {
    align-items: start;
}

#Blog_Card_Content {
    gap: 0;
}

#Equipe_Text_Container,
#Blog_Text_Container {
    width: 50%;
    min-width: 24rem;
}

#Equipe_Card_Content {
    gap: 0;
}

#Missao_Card_Content {
    width: 50%;
    min-width: 24rem;
}

.Product_Detail_Text_Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: start;
    gap: var(--small_gap);
    border-radius: var(--gap);
    width: 100%;
}

.Solution_Detail_Description,
.Solution_Detail_FullDescription,
.Product_Detail_Text_Item_Content {
    display: flex;
    flex-direction: column;
    gap: var(--small_gap);
    padding-inline: var(--gap);
    font-size: clamp(0.75rem, 1vw, 1.5rem);
}

.Product_Detail_FullDescription {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.Product_Detail_Component_Container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: var(--small_gap);
}

.Product_Detail_Component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: var(--small_gap);
    padding: var(--gap);
    border-radius: var(--gap);
}

.Product_Detail_Solution_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: var(--small_gap);
    padding: var(--small_gap);
    overflow-x: auto;
}

.Product_Detail_Solution {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: var(--gap);
    cursor: pointer;
    width: calc(25% - 0.375rem);
    min-width: 180px;
    flex-shrink: 0;
}

.Product_Detail_Solution_Name {
    padding: var(--small_gap);
}

.Product_Detail_Solution_Img {
    width: 100%;
}

.Product_Detail_Footer,
.Solution_Detail_Footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    padding: var(--gap);
    width: 100%;
}

/* SEÇÃO DE SOLUÇÕES - SEÇÃO DE SOLUÇÕES - SEÇÃO DE SOLUÇÕES - SEÇÃO DE SOLUÇÕES */

.Solution_Video {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.Solution_Description {
    z-index: 2;
    margin-top: auto;
    max-width: 800px;
    width: 80%;
    font-size: clamp(0.8rem, 1vw, 1.5rem);
}

.Solution_Title {
    margin-top: var(--gap);
    font-size: clamp(2rem, 8vw, 8rem);
    font-family: "Researcher_WOFF2";
    color: var(--PictonBlue);
    text-shadow: 0 0 10px var(--PictonBlueFaded);
    z-index: 2;
}

.Solution_Video_Fader {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background-image: linear-gradient(transparent, var(--background-color));
}

#Solution_Top_Fader {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background-image: linear-gradient(var(--background-color) 80%, transparent);
}

.Solution_Recommended_Products_Container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    width: 100%;
}

.Solution_Recommended_Product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--gap);
    background-color: var(--subcard_color);
    width: 100%;
    min-height: 6rem;
    line-height: 1.2rem;
    position: relative;
    overflow: hidden;
    max-width: 12rem;
}

.Solution_Recommended_Product_Title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    font-size: clamp(1.2rem, 1vw, 2rem);
    font-family: "Researcher_WOFF2";
}

.Solution_Recommended_Product_Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.Solution_Recommended_Product_Bg_Img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.Solution_Partner_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.Solution_Partner {
    width: 30vh;
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Solution_Partner_Img {
    height: 20vh;
    width: 20vh;
    object-fit: contain;
}

/* SEÇÃO DE SOBRE NÓS - SEÇÃO DE SOBRE NÓS - SEÇÃO DE SOBRE NÓS - SEÇÃO DE SOBRE NÓS */

#sobre {
    gap: 0;
}

.Card_Header_Subtitle {
    margin-bottom: -0.5rem;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 0.75rem;
}

.Solution_Detail_Description,
.Solution_Detail_FullDescription {
    text-align: start;
}

.About_Card_Content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

.Sobre_Header_Text {
    font-size: clamp(0.8rem, 3vw, 1rem);
}

.Sobre_Description_Text {
    font-size: clamp(0.7rem, 1vw, 0.9rem);
    text-align: start;
}

.Sobre_Member_Container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: var(--gap);
    padding: var(--gap);
    width: 100%;
    flex-grow: 1;
    position: relative;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    border-radius: var(--gap);
}

.Sobre_Member_Card {
    scroll-margin-inline: var(--gap);
    scroll-snap-align: start;
    height: 100%;
    aspect-ratio: 1/1;
    min-width: 150px;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: var(--gap);
    outline: 1px solid var(--text-color);
    position: relative;
}

.Sobre_Member_Image_Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 0;
    outline: 1px solid var(--text-color);
    border-radius: var(--gap);
    overflow: hidden;
}

.Sobre_Member_Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Sobre_Member_Text_Container {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0.25rem;
    padding: var(--small_gap);
    position: absolute;
    bottom: 0;
}

.Sobre_Member_Name {
    font-size: clamp(1.2rem, 1vw, 1.4rem);
}

.Sobre_Member_Description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--small_gap);
    padding-inline: var(--gap);
    padding-block: 0.5rem;
    outline: 1px solid var(--text-color);
    font-size: clamp(0.5rem, 0.8vw, 1rem);
    line-height: clamp(0.8rem, 1vw, 1rem);
    background-color: var(--text-color);
    color: var(--background-color);
    margin-inline: 4rem;
}

.Sobre_Member_Interactions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
    padding: var(--small_gap);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}

.Sobre_Interaction_Icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--small_gap);
    border-radius: 50%;
    background-color: var(--btn_color);
}

.Sobre_Interaction_Icon > * {
    font-size: clamp(1rem, 1vw, 2rem);
}

.Sobre_Partners_Container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: var(--gap);
    height: 100%;
    padding-bottom: var(--small_gap);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.Partners_Text_Container {
    max-width: 30rem;
    line-height: 1.2rem;
    margin-inline: auto;
    margin-bottom: var(--gap);
}

.Sobre_Partners_Description_Text {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: var(--gap);
    gap: var(--small_gap);
    border-radius: var(--gap);
    background-color: var(--subcard_color);
    width: 100%;
    min-width: 300px;
}

.Partners_Description_Title {
    font-size: clamp(1rem, 1.2vw, 4rem);
}

.Partners_Description_Detail {
    font-size: clamp(0.8rem, 1vw, 0.9rem);
    overflow-y: auto;
}

.Partners_Icons {
    margin-top: 2rem;
    font-size: clamp(4rem, 8vw, 6rem);
}

.Partner_Description_Actions {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small_gap);
}

.Partner_Description_Action_Btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small_gap);
    padding: var(--small_gap);
    border-radius: var(--gap);
    cursor: pointer;
    width: 100%;
    height: 3rem;
}

.Sobre_Img {
    border-radius: var(--gap);
    max-width: 100%;
}

.WideImg {
    width: 100%;
    max-height: 50%;
    object-fit: cover;
    object-position: top;
    text-align: center;
}

.About_Card_Post_Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    overflow-y: auto;
    padding-inline: var(--gap);
    padding-block: var(--gap);
    width: 100%;
}

.Post_Card {
    padding: var(--medium_gap);
    display: flex;
    flex-direction: row;
    background-color: var(--card_color);
    border-radius: var(--gap);
    position: relative;
}

.Post_Card_Text_Container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--small_gap);
    text-align: start;
}

.Post_Card_Description {
    --max-lines: 3;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    max-width: 20rem;
    font-size: clamp(0.75rem, 1vw, 1.5rem);
}

.Post_Card_Actions {
    display: flex;
    align-items: center;
    gap: var(--small_gap);
}

.Post_Card_Action_Btn {
    padding: var(--small_gap);
    aspect-ratio: 1/1;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
}

.Post_Card_KnowMore_Btn {
    padding: var(--small_gap);
    padding-inline: var(--gap);
    border-radius: var(--gap);
    cursor: pointer;
}

/* SEÇÃO DE CONTATO - SEÇÃO DE CONTATO - SEÇÃO DE CONTATO - SEÇÃO DE CONTATO */

#contato {
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.Contact_Container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 1;
    height: 100%;
    width: 100%;
    gap: var(--gap);
    transition: all 0.2s ease-in-out;
    z-index: 1;
    overflow-y: auto;
}

.Contact_CallToAction {
    font-size: clamp(1rem, 1.8vw, 2rem);
    margin-block: auto;
    margin-inline: auto;
    max-width: 40rem;
}

.Contact_Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--small_gap);
    width: min-content;
    margin-inline: auto;
    padding: var(--gap);
    border-radius: var(--gap);
    width: 100%;
    max-width: 20rem;
    background-color: var(--card_color);
}

.Contact_Info_Title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Contact_Info_Item_Detail {
    text-align: start;
}

.Contact_Location_Btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small_gap);
    padding-inline: 0.5rem;
    padding-block: 0.125rem;
    border-radius: var(--gap);
    cursor: pointer;
}

.Contact_Action_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--small_gap);
    margin-bottom: auto;
}

.Contact_Action_Btn {
    padding: var(--gap);
    width: 100%;
    max-width: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small_gap);
    border-radius: var(--gap);
    color: var(--background-color);
}

.Maps_Master_Container {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;
    gap: var(--gap);
}

.Map_Container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    transition: width 0.2s ease-in-out;
    border-radius: var(--gap);
    overflow: hidden;
    outline: 1px solid var(--text-color);
}

.Map_Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--small_gap);
    background-color: var(--background-color);
    cursor: grab;
}

.Map_Title {
}

.Map_Body {
    width: 100%;
    height: 100%;
}

.Map_Iframe {
}

/* MENU - MENU - MENU - MENU - MENU - MENU - MENU - MENU */

#menu {
    overflow: hidden;
}

.Menu_Container {
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-top: var(--gap);
    gap: var(--small_gap);
    overflow-y: auto;
}

.Main_List_Header,
.Configurations_Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: var(--gap);
    width: 100%;
    font-weight: 800;
}

.Menu_Link,
.Menu_Link_Secondary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
    padding: var(--small_gap);
    cursor: pointer;
    width: 100%;
    text-align: start;
}

.Menu_Link_Actions {
    display: flex;
    flex-direction: row;
    gap: var(--small_gap);
}

.Header_Link_Organizer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(1.5rem - 2px);
}

.LP_Links_Icon {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header_Link {
    gap: 1.6rem;
}

.List_Horizontal_Organizer {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    width: 100%;
}

.List_Line_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--small_gap);
    width: 2rem;
}

.List_Line {
    height: 100%;
    width: 2px;
    background-color: var(--text-color);
}

.LP_Links {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
}

.Product_Links {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
    max-width: 20rem;
}

.Secondary_Links {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
}

.Menu_Options_Logo_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    padding: var(--gap);
    width: 100%;
    height: 100%;
}

.Options_Svg {
    fill: var(--text-color);
}

.Pragmata_Web {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small_gap);
    width: 100%;
    margin-top: auto;
    text-align: start;
    font-size: 0.8rem;
}

#PragLogo {
    width: 2rem;
    height: 2rem;
    fill: var(--text-color);
}

.Configurations {
    width: 100%;
}

.Config_Reset {
    margin-block: var(--small_gap);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small_gap);
    padding: var(--small_gap);
    border-radius: var(--small_gap);
    cursor: pointer;
    width: 100%;
}

.Configurations_Links {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 20rem;
}

.Config_Link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: var(--small_gap);
    padding: var(--small_gap);
    cursor: pointer;
    width: 100%;
}

.Config_Options {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    width: 100%;
}

.Config_Option_Title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--small_gap);
    padding: var(--small_gap);
    background-color: var(--btn_color);
    border-radius: var(--small_gap);
    font-size: 0.7rem;
}

.Config_Option {
    padding: var(--small_gap);
    border-radius: var(--small_gap);
    width: 5rem;
    font-size: 0.6rem;
    width: 100%;
}

.Config_Option.active {
    background-color: var(--seleted-color);
}

.Privacy_Container {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--gap);
}

/* TESTE - TESTE - TESTE - TESTE - TESTE - TESTE - TESTE - TESTE */

.LP_Section_Title {
    display: none;
}

#teste3dteste {
    overflow: hidden;
    border-radius: var(--gap);
    position: relative;
    align-items: center;
    margin: var(--small_gap);
    height: calc(100vh - 7rem);
    top: 1rem;
}

.ThreeD_Container {
}

.ThreeD_Canvas {
    width: 100%;
    height: 100%;
}

#ProdutosTeste {
    justify-content: start;
}

.Produto_Header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Produto_Prename {
    font-size: 1rem;
    margin-bottom: -2rem;
    letter-spacing: 0.2rem;
}

.Solution_Recommended_Product_Prename {
    font-size: 0.6rem;
    letter-spacing: 0.2rem;
}

.Produto_Name {
    font-size: 6rem;
}

.Produto_Container_Text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--gap);
    padding: var(--gap);
}

.Produto_Container_Text > * {
    max-width: 25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.Solution_Partner_Title,
.Solution_Recommended_Products_Title,
.Product_Information_Title {
    font-size: clamp(1rem, 1.5vw, 1.6rem);
    line-height: 1.2rem;
    position: relative;
    padding-bottom: 0.5rem;
    margin-bottom: var(--gap);
    text-align: start;
}

.Solution_Partner_Title::before,
.Solution_Recommended_Products_Title::before,
.Product_Information_Title::before {
    content: "";
    display: block;
    width: 100%;
    height: 0.5rem;
    background-color: var(--text-color);
    border-radius: var(--small_gap);
    position: absolute;
    bottom: -0.5rem;
}

.Produto_Container_Text_RelatedSectors,
.Produto_Container_Text_UseCases,
.Produto_Container_Text_Capacities,
.Produto_Container_Text_Specifications {
    display: flex;
    flex-direction: column;
    padding: var(--gap);
    padding-block: var(--medium_gap);
    border-radius: var(--small_gap);
    background-color: var(--subcard_color);
    width: 100%;
}

.Produto_Container_Text_Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--small_gap);
    color: var(--seleted-color);
}

.Produto_Container_Text_Header > * > svg {
    width: 4rem;
    height: 4rem;
}

.Produto_Container_Titulo {
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: start;
}

.Produto_Information_Description {
    padding-left: 0.5rem;
    max-width: 35rem;
    text-align: start;
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
}

.Solution_Detail_Footer,
.Produto_Detalhe_Footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: var(--gap);
    gap: var(--gap);
    width: 100%;
}

.Solution_Detail_Footer {
    padding-inline: 0;
}

.Produto_Container_Text_Interactions {
    flex: 1;
    display: flex;
    align-items: center;
    padding: var(--small_gap);
    background-color: var(--seleted-color);
    color: var(--text-color);
    border-radius: var(--gap);
    min-width: 10rem;
    cursor: pointer;
    font-size: clamp(0.8rem, 1.2vw, 1.2rem);
}

.Produto_Container_Interaction_Titulo {
    font-size: clamp(0.8rem, 1vw, 1.6rem);
    line-height: 1.2rem;
    text-align: center;
    margin-inline: auto;
}

.Icon_Container > svg {
    width: clamp(1.5rem, 3vw, 4rem);
    height: clamp(1.5rem, 3vw, 4rem);
    fill: var(--seleted-color);
}

.Icon_Container > svg > path {
    fill: var(--seleted-color);
}

.Produto_Container_Text_Interactions > * > svg {
    width: 3rem;
    height: 3rem;
    fill: var(--text-color);
}

.Produto_Container_Text_Interactions > * > svg > * {
    fill: var(--text-color) !important;
}

/* MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES */

@media screen and (max-width: 1200px) {
    .About_Card_Post_Container {
        grid-template-columns: repeat(1, 1fr);
        padding-left: var(--gap);
    }
}

@media screen and (max-width: 700px) {
    .Mobile_Only {
        display: flex;
    }
    .Desktop_Only {
        display: none;
    }

    .Nav_Links_Container {
        overflow: hidden;
        flex: 2;
    }

    .Nav_Link {
        font-size: 0.95rem;
    }

    .Menu_Container {
        flex-direction: column;
        overflow-y: auto;
    }
    .Menu_Main_List,
    .Menu_Options {
        flex-shrink: 0;
    }

    .Secondary_Links,
    .Menu_Options {
        gap: var(--small_gap);
    }

    .Menu_Options {
        display: none;
    }

    .LP_Section {
        gap: 0;
        justify-content: space-between;
    }

    .Menu_Main_List_Wrapper,
    .LP_Links {
        gap: var(--small_gap);
    }

    .List_Line_Container {
        width: 1rem;
    }

    .Product_Links {
        gap: var(--small_gap);
    }

    .Brand_Declaration {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: -3rem;
    }

    .Brand_Fixed_Phrase {
        font-size: clamp(1rem, 1vw, 2rem);
        line-height: clamp(1.2rem, 1vw, 2rem);
    }

    .Brand_Changing_Word {
        font-size: clamp(3rem, 5vw, 6rem);
    }

    .Software_Card > .Product_Main_Image {
        position: absolute;
        width: 90%;
        max-width: 16rem;
        top: 50%;
        transform: translateY(-50%);
        aspect-ratio: 1/1;
        object-fit: contain;
    }

    .Card_Product_Name {
        font-size: clamp(2rem, 4vw, 4rem);
    }

    .Card_Product_Description {
        font-size: clamp(0.7rem, 1.2vw, 1.5rem);
    }

    .Product_Card_Header {
        z-index: 3;
    }

    .Robot_Card_Main_Image {
        scale: 0.8;
        top: -3.5rem;
    }

    .Solution_Detail_Content,
    .Product_Detail_Content {
        padding: 0;
        padding-block: var(--small_gap);
        flex-direction: column;
    }

    .Solution_Detail_Text_Container,
    .Product_Detail_Text_Container {
        direction: rtl;
        padding-inline: var(--small_gap);
    }

    .Solution_Detail_Text_Wrapper,
    .Product_Detail_Text_Wrapper {
        direction: ltr;
    }

    .Solution_Detail_Description,
    .Solution_Detail_FullDescription,
    .Product_Detail_Text_Item_Content {
        padding-inline: 0;
    }

    .Produto_Detalhe_Footer,
    .Product_Detail_Text_Item_Content {
        padding: 0;
    }

    .Mobile_Image_Container {
        display: flex;
        height: 33vh;
        flex-shrink: 0;
    }

    .Solution_Detail_Content {
        flex-direction: column;
    }

    .About_Card_Content {
        flex-direction: column;
        padding-block: var(--small_gap);
    }

    .About_Card {
        padding: 0;
        border-radius: 0;
    }

    .About_Card_Post_Container {
        padding-inline: 0;
    }

    .Post_Card_Action_Btn {
        width: 2rem;
        height: 2rem;
    }
    .Post_Card_Action_Btn > * {
        font-size: 0.8rem;
    }

    #sobre {
        padding: 0;
    }

    #Equipe_Text_Container,
    #Blog_Text_Container,
    #Missao_Card_Content {
        width: 100%;
        min-width: unset;
    }

    .About_Card_Text_Container {
        direction: rtl;
        padding-inline: var(--small_gap);
        margin-top: var(--small_gap);
    }

    .About_Card_Text_Wrapper {
        direction: ltr;
    }

    .Contact_Action_Btn {
        padding: var(--small_gap);
    }

    .Maps_Master_Container {
        display: none;
    }

    .Footer_Copyright {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .Nav_Logotype {
        display: none;
    }

    .Product_Card {
        min-width: 90%;
    }
}
